<!DOCTYPE html>
<html>
<head>
	<title>California Wildfire Predictor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	<section class="splash">
		<h1>California Wildfire Predictor</h1>
		<p>A project for the Data-X class at UC Berkeley, Fall 2020.</p>
		<form action="#predict">
			<button type="submit">Check it Out</button>
		</form>
	</section>

	<section id="predict">
		<div class="predict-text">
			<h3>Enter a location and time of year.</h3>
			<p>The map will display an estimate of what fires may look like in that region in 2021.</p>
			<form action="" method="post" style="margin-bottom: 100px;">
				<label for="loc">Location</label><br>
				<input type="text" name="loc" placeholder="Zip Code"><br>
				<label for="month">Month</label><br>
				<select name="month">
					<option value="" disabled selected>Choose One</option>
					<option value="january">January</option>
					<option value="february">February</option>
					<option value="march">March</option>
					<option value="april">April</option>
					<option value="may">May</option>
					<option value="june">June</option>
					<option value="july">July</option>
					<option value="august">August</option>
					<option value="september">September</option>
					<option value="october">October</option>
					<option value="november">November</option>
					<option value="december">December</option>
				</select> <br><br>
				<button type="submit">Submit</button>
			</form>

			<a href="explore" target="_blank">Explore California Fire History &#8594;</a>
		</div>
		<iframe class="map" src="{{ url_for('final') }}" width="500" height="500"></iframe>
	</section>

	<section>
		<h3>How does this work?</h3>
		<p>
			To predict how large a fire will become, we pulled in data from multiple sources. First, we had previous fire data from CalFire, with information on the date, location, and ultimate size of every fire from 2014 to 2019. Second, we brought in weather data from over 150 weather stations located across California, this data had daily weather data including temperature, humidity, precipitation, and wind speed, all of which we believe have an effect on how big the fire will grow. And third, we brought in location data for the weather stations, so we could find which station was closest to each fire. <br><br>

			From this data we created seven input features for each fire, the latitude and longitude, precipitation, maximum temperature, minimum humidity, average wind speed, and fires in that county over the last year. We calculated these features for all of the fire data in our training and test sets, and for each input we also calculate these averages across all years of data. Finally, the model we have chosen is a Support Vector Regression model, which works by finding a hyperplane of best fit by minimizing the absolute error of the model and finetuning its own internal hyperparameters. <br><br>

			After passing a date and a zip code into our predictor, it calculates an estimate for the size of a wildfire, in acres, if it were to start at that location, on that day.
		</p>
	</section>

	<section>
		<hr>
		<div class="footer">
			<p>
				<b>Created by:</b> <br>
				Michael Damsky, Christine Chow, Deevy Bhimani, and William Pu
			</p>
			<p>Made with &#9825; in Berkeley, CA</p>
		</div>
	</section>
</body>
</html>
